<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h3>Enter two numbers, the result will be computed:</h3>
<form action="#" th:action="@{/}" th:object="${myNumbers}" method="post">
    <input type="text" th:field="*{n1}" required="required"/>
    + <input type="text" th:field="*{n2}" required="required"/>
    <p></p>
    <input type="submit" value="Submit"/>
</form>
<h3>Result: <span th:text="${sum}"></span>
</h3>
</body>
</html>